.bubble {
	// @include box-shadow(1);
	display: block;
	position: relative;
	margin-bottom: map-get($gutter-width, 'large');
	padding: 1em 0;
	background-color: color(white);
	border-radius: $border-width;
	box-sizing: border-box;

	&.bubble--shadow {
		@include box-shadow();
	}

	&.bubble--nopadding {
		padding: 0;
	}

	&.bubble--visible {
		overflow: visible;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.divider-gradient {
		position: relative;

		&:before {
			@include gradient();
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: $border-width;
		}
	}

	@include medium() {
		margin-bottom: map-get($gutter-width, 'medium');
	}
}

.bubble-headline {
	@include typography(subheadline);
	padding-left: fontsize-for(body);
	color: color(white);

	& + .bubble {
		margin-top: fontsize-for(body);
	}

	&.bubble--reason {
		@include typography(body-headline);
		padding-left: 0.1rem;
		text-transform: uppercase;
		color: color(primary);

		span {
			@include typography(small);
			display: block;
		}
	}

	&.col {
		margin-bottom: 0;
	}
}

.bubble-subheadline {
	@include typography(body-headline);
	margin-bottom: 0;
	padding: 0 1rem 0.8rem;
	text-transform: uppercase;
	border-bottom: 1px solid color(keyline);

	& + .form-table {
		border-bottom: none;
	}
}

.bubble-copy {
	@include typography(body);
	padding: 1rem;

	a:not(.btn) {
		// color: color(accent);
		font-weight: 700;

		&:hover {
			text-decoration: underline;
		}
	}
}

.bubble-content {
	padding: 2rem;

	&:first-child { padding-top: 1rem; }
	&:last-child { padding-bottom: 1rem; }

	& + .bubble-content {
		border-top: 1px solid color(keyline);
	}
}
